[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = Russia
ST = Arkhangelsk region
L = Severodvinsk
O = Odyssey of development
OU = Development
CN = *.vladislavzainullin.com

[v3_req]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.vladislavzainullin.com
DNS.2 = vladislavzainullin.com
IP.1 = 127.0.0.1